
.relevant-article {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 100%;
}

.relevant-article__image {
    flex: 1 0 100%;
    max-width: 100%;
    max-height: 242.69px;
    min-height: 0;
    object-fit:contain;
}

.relevant-article__header {
    font-family: Inter, serif;
    font-size: 22px;
    line-height: 140%;
    margin: 0;
}

.relevant-article__summary {
    font-family: Inter, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin: 0;
}