.article {
    display: flex;
    column-gap: 16px;
}

.article__enumerator {
    font-family: Poppins;
    font-weight: 500;
    color: var(--brand-green);
    background-color: #DFDEE7;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__text {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.article__header {
    font-family: Inter, serif;
    font-size: 22px;
    line-height: 140%;
    margin: 0px;
}

.article__author {
    font-family: Inter, serif;
    font-size: 16px;
    color: var(--brand-green);
    text-transform: uppercase;
}

.article__metrics {
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #9DA3AE;
    display: flex;
}

.article__time {
    width: 84px;
    border-right: 1px solid #9DA3AE;
}

.article__comment-container {
    display: block;
    box-sizing: border-box;
    height: 24px;
    width: 24px;
    margin-left: 16px;
    margin-right: 6px;
    padding: 4px;
}

.article__imagebox {
    width: 200px;
    height: 124px;
    background-color: #DFDEE7;
    flex: 0 0 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}