.details-page {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.full-article {
    max-width: 50%;
    margin: 24px 80px;
}

@media (orientation:portrait) {
    .full-article {
        max-width: 100%;
    }
}

.full-article__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 1.5rem 0;
    border-radius: 8px;
}

.full-article__header {
    font-family: LeagueGothic, serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 110%;
    padding: 0;
    margin: 0;
}

.full-article__content{
    font-family: Inter, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin: 0px;
}