.main-article {
    flex: 1 1 480px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-height: 606px;
}

.main-article__image {
    flex-shrink: 1;
    max-width: 100%;
    max-height: 100%;
    min-height: 0;
    object-fit: cover;
}

.main-article__header {
    font-family: LeagueGothic, serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 110%;
    padding: 0;
    margin: 0;
}

.main-article__summary {
    font-family: Inter, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin: 0px;
}