@import url(./components/footer.css);
@import url(./components/header.css);
@import url(./pages/details.css);
@import url(./pages/front-page.css);
@import url(./pages/login.css);
@import url(./pages/main-article.css);
@import url(./pages/page.css);
@import url(./pages/relevant-article.css);
@import url(./pages/top-article.css);

:root {
  --brand-green: #2AD18A;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: LeagueGothic;
    src: url(../fonts/LeagueGothic-Regular-VariableFont_wdth.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Medium.ttf) format(truetype);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf) format(truetype);
    font-weight: 600;
}