.top {
    flex: 1 1 480px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.top__header {
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: var(--brand-green);
    margin-left: 48px;
}